<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">Hi there,I'm <br>Abhishek Padghan</span>
        <span class="site-description">Welcome to my Homepage</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:abhipadghan00@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://in.linkedin.com/in/abhishek-padghan-2a6775170"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/abhisheksp120"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>      
      <section id="about">
        <br>
<div class="user-details" >
          <br>
    <img  src="{{ "/assets/img/1.jpg" | prepend: site.baseurl }}" style="border-radius: 50%;" />  
  <h1>About Me</h1>
  <div class="box red" style=" margin: auto; width:40px;height:10px; background:#ff4000;"></div>
  <p>I am Abhishek Padghan, a second year undergraduate in Computer Science and Engineering at Indian Institute of Information Technology Nagpur.I may also be know as Hazardous120 online. I have a huge interest in Competative programming and problem-solving. I love to spend my time doing Competitive programming at sites like Codechef, Codeforces etc. I have basic knowledge about web development (HTML, CSS and Javascript).<br><br>For more details on the academic front, have a look at my resume.</p>
  <br>
  <button class="button button1" style="margin: auto;" onclick="window.open('https://codeforces.com/profile/Hazardous120');" ><b>RESUME</b></button>
</div>

