<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">Hi there,I'm <br>Abhishek Padghan</span>
        <span class="site-description">Welcome to my Homepage</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:abhipadghan00@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://in.linkedin.com/in/abhishek-padghan-2a6775170"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/abhisheksp120"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>      
      <section id="about">
        <br>
<div class="user-details" >

          <!-- <div class="avatar img-thumbnail img-circle" style="margin: auto;"> -->
                  <img src="{{ "/assets/img/1.jpg" | prepend: site.baseurl }}" style="border-radius: 50%;" />
                                <!-- <img src="img/1.jpg" alt="avatar" style="border-radius: 50%;"> -->
          <!-- </div>   -->
  <h1>About Me</h1>
  <p></p>
</div>

